.btn {
  display: inline-block;
  text-align: center;
  color: $mainMotif;
  background: transparent;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 700;
  border: 2px solid $mainMotif;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  transition: all .3s ease-in-out;

  &:hover {
    color: $offWhite;
    background: $mainMotif;
  }

  &--primary {
    color: $mainMotif;
    border: 2px solid $mainMotif;
    
    &:hover {
      color: $offWhite;
      background: $mainMotif;
    }
  }

  &--secondary {
    color: $offWhite;
    border-color: $offWhite;
    
    &:hover {
      color: $mainMotif;
      background: $offWhite;
    }
  }

  &--disabled {
    color: $offGrey;
    border-color: $offGrey;
    
    &:hover {
      cursor: not-allowed;
      pointer-events: all !important;
      background: transparent;
      color: $offGrey;
    }
  }
}