.hero {
    width: 100%;
    height: 100vh;
    background: $offYellow;
    background: url('../img/dose-juice-1184437-unsplash-hero.jpg') no-repeat top left;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      text-align: center;
      width: 60vw;
      padding: 4rem;
      border-radius: 10px;
      background: rgba($color: $offWhite, $alpha: .7);
      z-index: 3;
      @media screen and (max-width: $mobile) {
        width: 80vw;
        padding: 2rem;
      }
    }
  
    &__image {
      height: 8rem;
      margin-bottom: 1rem;
      @media screen and (min-width: $large) {
        height: 12rem;
      }
    }
    
    &__heading {
      @include mx-heading;
      color: $main;
      text-shadow: 0px 0px 8px $offWhite;
      margin:0;
      padding-bottom: 2rem;
      @media screen and (min-width: $large) {
        font-size: 6rem;
      }
  
      span {
        display: block;
        color: $mainMotif;
      }
    }
  
    &__para {
      @include mx-para;
      font-weight: 700;
      text-shadow: 1px 1px 4px $offWhite;
      margin:0;
      padding-bottom: 2rem;
      @media screen and (max-width: $small) {
        display: none;
      }
    }
  }