.navbar {
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 10;
    transition: all 0.3s;

    .navbar__brand,
    .navbar__menu,
    ul {
        display: flex;
        align-items: center;
    }
    
    .navbar__brand {
        padding-left: 40px;

        img {
            display: block;
            height: 55px;
            cursor: pointer;
        }
    }
    
    .navbar__menu {
        justify-content: flex-end;
        padding-right: 40px;

        li {
            margin-left: 20px;
            list-style: none;

            a {
                display: inline-block;
                cursor: pointer;
                color: $main;
                font-weight: 600;
                font-size: 1.5rem;
                text-decoration: none;
                outline: none;
                transition: all .2s ease-in-out;

                &:hover {
                    color: $mainMotif;
                }
            }
        }
    }

    &.detached {
        height: $mobileNavOffset;
        background: $offWhite;
        box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar {
      height: $mobileNavOffset;
      background: $offWhite;

      .navbar__menu ul {
        display: inline-block;
        width: 100vw;
        height: 0;
        position: absolute;
        top: $mobileNavOffset;
        right:0;
        margin:0;
        padding:0;
        background: $offWhite;
        box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
        transition: all 400ms ease-in-out;

        li {
            opacity: 0;
            visibility: hidden;
            height: $mobileNavOffset;
            margin-left: 0;
            transition: opacity 250ms ease-in-out 250ms;

            a {
                color: $offGrey;
            }
          }

        &.show-mobile-menu {
            padding-top: 60px;
            height: $mobileDropHeight;
      
            li {
              opacity: 1;
              visibility: visible;
              text-align: center;
            }
          }
      }

      &.detached {
        height: $mobileNavOffset;
        background: $offWhite;
      }
    } 
  }

  @media screen and (max-width: 480px) {
    .navbar {
        .navbar__brand {
            padding-left: 20px;

            img {
                height: 45px;
            }
        }

        .navbar__menu {
            padding-right: 20px;
        }
    }
}
