@import 'customCheckbox';

.signup {
  width: 100%;
  background: $mainMotif; 
  background: linear-gradient(to right, $mainMotif, #fd746c);
  padding: 6rem 0;

  &__content {
    text-align: left;
    max-width: 768px;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      padding: 0 3rem;
    }
  }
  
  &__heading {
    @include mx-heading;
    color: $offWhite;
    text-align: center;
    padding: 0 0 3rem;
  }

  &__para {
    @include mx-para;
    margin: 0 0 3rem;
    color: $offWhite;
  }

  &__input {
    width:100%;
    font-size: 1.8rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    margin: 0 0 2rem;
  }

  &__btn {
    margin: 3rem 0 0;
  }

  &__msg {
    font-size: 1.5rem;
    color: $mainMotif;
    font-weight: 700;
    background: $offYellow;
    border-radius: 0.3rem;
    margin:0;
    transition: all .3s ease-in-out;
    height: 0;

    &.show {
      height: auto;
      margin:1rem 0;
      padding: 2rem;

      &--error{
        color: $mainMotif;
        background: $offYellow;
      }

      &--info{
        color: $offWhite;
        background: $offGreen;
      }
    }
  }
}
