.hero {
    width: 100%;
    height: calc(100vh);
    background: #F8F8FB;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #F8F8FB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
    align-items: center;
  
    &__content {
      text-align: center;
      width: 60vw;
    }
  
    &__image {
      height: 8rem;
      @media screen and (min-width: 1180px) {
        height: 12rem;
      }
    }
    
    &__heading {
      font-family: 'Lobster', sans-serif;
      font-size: 4rem;
      color: $main;
      margin:0;
      @media screen and (min-width: 1180px) {
        font-size: 6rem;
      }
  
      span {
        display: block;
        color: $mainMotif;
      }
    }
  
    &__para {
      margin: 2rem 0 4rem 0;
    }
  }