@import "reset";
@import "constants";
@import "mixins";
@import "typography";
@import "components/btn";
@import "components/menuToggleBtn";
@import "components/navbar";
@import "components/hero";
@import "components/signCta";
@import "components/info";
@import "components/signup";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: $main;
  background: $offWhite;
  text-align: left;
}

.footer {
  color: $offWhite;
  background: $offGrey;
  text-align: center;
  padding: 2rem 0;
}
